In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from linkedin_scraper import Company, actions
from selenium import webdriver
from chromedriver_py import binary_path
import time

In [2]:
# Import connections file
connections_df = pd.read_csv ('connections.csv')
connections_df.to_string(columns=["First Name", "Last Name", "Company", "Position"])
connections_df

,First Name,Last Name,Company,Position,Connected On
0,Zhirong (Claudia),Li,Grubhub,Data Scientist,23 Nov 2020
1,Lexie,Speirs,Lemonade,US Talent Acquisition Lead,22 Nov 2020
2,Michael,Deakin,Scope Personnel,Chief Executive Officer,03 Nov 2020
3,Fiodor,Grecu,Jim Brady's,Sales Customer Service Manager,03 Nov 2020
4,Matt,Carcione,Northwell Health,Administrative Associate of Perioperative Serv...,16 Oct 2020
...,...,...,...,...,...
1180,Christopher,"Lepore, CPA",DRA Advisors LLC,Senior Property Analyst,06 May 2011
1181,Ermin,Deljanin,The Parkoff Organization,Controller,06 May 2011
1182,Alicia,"Drexel, MA, MT-BC",International Institute for the Brain (iBrain),Music Therapist,04 May 2011
1183,Brian,Vodoklys,The Depository Trust & Clearing Corporation (D...,Business Validation Associate,03 May 2011
1184,Anthony,Apath,US Department of Homeland Security,CBP,02 May 2011

In [3]:
connections_df["Company Industry"] = np.nan
connections_df["Company Size"] = np.nan

In [4]:
# connections_df.loc[connections_df['Company'] == 'Lemonade', 'Company Industry'] = "test"
# connections_df

In [5]:
# company_list
# co_count = connections_df['Company'].value_counts()
# co_count.tail(50)

In [6]:
connections_df.loc[connections_df['Company'] == 'The Boston Consulting Group (BCG)', 
                   'Company'] = 'Boston Consulting Group'
connections_df.loc[connections_df['Company'] == 'Strategy&', 'Company'] = 'StrategyAnd'
connections_df.loc[connections_df['Company'] == 'Lemonade', 'Company'] = 'Lemonade Inc-'
connections_df.loc[connections_df['Company'] == 'If Insurance (If P&C Insurance)', 'Company'] = 'IfInsurance'
connections_df.loc[connections_df['Company'] == 'Amazon Web Services (AWS)', 'Company'] = 'Amazon Web Services'
connections_df.loc[connections_df['Company'] == "PKF O'Connor Davies, LLP", 'Company'] = "PKF O'Connor Davies"
connections_df.loc[connections_df['Company'] == 'Jetton & Meredith, PLLC',
                   'Company'] = 'Jetton Meredith law PLLC'
connections_df.loc[connections_df['Company'] == 'J.P. Morgan', 'Company'] = 'JPMorganChase'
connections_df.loc[connections_df['Company'] == 'JPMorgan Chase & Co.', 'Company'] = 'JPMorganChase'
connections_df.loc[connections_df['Company'] == '1-800-FLOWERS.COM, INC.', 'Company'] = '1800Flowers-com'
connections_df.loc[connections_df['Company'] == 'Bain & Company', 'Company'] = 'Bain and Company'
connections_df.loc[connections_df['Company'] == 'MFA Financial, Inc.', 'Company'] = 'MFA Financial'
connections_df.loc[connections_df['Company'] == 'MFA Financial, Inc', 'Company'] = 'MFA Financial'
connections_df.loc[connections_df['Company'] == 'MFA Financial, Inc', 'Company'] = 'MFA Financial'
connections_df.loc[connections_df['Company'] == 'NBCUniversal Media, LLC', 'Company'] = 'NBCUniversal Inc-'
connections_df.loc[connections_df['Company'] == 'CompStak®', 'Company'] = 'CompStak'
connections_df.loc[connections_df['Company'] == 'FPGA Co', 'Company'] = 'FPGA'
connections_df.loc[connections_df['Company'] == 'ALM Media, LLC', 'Company'] = 'ALM'
connections_df.loc[connections_df['Company'] == 'Motion Recruitment (Previously DBA Jobspring/Workbridge)',
                   'Company'] = 'ALM'
connections_df.loc[connections_df['Company'] == 'Societe Generale Corporate and Investment Banking - SGCIB', 
                   'Company'] = 'Societe Generale'
connections_df.loc[connections_df['Company'] == 'Société Générale', 'Company'] = 'Societe Generale'
connections_df.loc[connections_df['Company'] == 'Oppenheimer & Co. Inc.', 'Company'] = 'Oppenheimer'
connections_df.loc[connections_df['Company'] == 'Procter & Gamble', 'Company'] = 'Procter and Gamble'
connections_df.loc[connections_df['Company'] == 'Loews Hotels & Co', 'Company'] = 'Loews Hotels'
connections_df.loc[connections_df['Company'] == 'PricewaterhouseCoopers', 'Company'] = 'PWC'
connections_df.loc[connections_df['Company'] == 'PwC US', 'Company'] = 'PWC'
connections_df.loc[connections_df['Company'] == 'Peanut Butter & Co.', 'Company'] = 'Peanut Butter & Co-'
connections_df.loc[connections_df['Company'] == 'National Basketball Association (NBA)', 
                   'Company'] = 'NBA'
connections_df.loc[connections_df['Company'] == 'The Depository Trust & Clearing Corporation (DTCC)', 
                   'Company'] = 'DTCC'
connections_df.loc[connections_df['Company'] == 'E*TRADE', 'Company'] = 'ETrade'
connections_df.loc[connections_df['Company'] == 'Canon USA', 'Company'] = 'CanonUSA'
connections_df.loc[connections_df['Company'] == 'Grubhub', 'Company'] = 'Grubhub Seamless'

In [7]:
email = "t3st3r_159@protonmail.ch"
password = "Xq5nyLxQrH"

def get_company_info(company):
    try:
#         driver = webdriver.Chrome(executable_path=binary_path)
#         actions.login(driver, email, password)
        company = Company(f"https://www.linkedin.com/company/{company}/",driver = driver, scrape=True,
             get_employees= False, close_on_complete=False)
        return company.industry, company.company_size
    except:
        return np.nan, np.nan

# # Note: the driver and actions lines need to be in the cells where the function is run
# driver = webdriver.Chrome(executable_path=binary_path)
# actions.login(driver, email, password)

In [8]:
company_list = connections_df.Company.unique()
# company_list

In [9]:
driver = webdriver.Chrome(executable_path=binary_path)
actions.login(driver, email, password)

# The period at the end of the name for the url made this a one off.
connections_df.loc[connections_df['Company'] == 'Mirae Asset Securities (USA) Inc.', 
                   'Company'] = 'Mirae-Asset-Securities-USA-Inc.'
co = 'mirae-asset-securities-usa-inc.'
company_industry, company_size = get_company_info(co)
connections_df.loc[connections_df['Company'] == 'Mirae-Asset-Securities-USA-Inc.',
                   'Company Industry'] = company_industry
connections_df.loc[connections_df['Company'] == 'Mirae-Asset-Securities-USA-Inc.',
                   'Company Size'] = company_size
# check: 
# connections_df[connections_df['Company'] == 'Mirae-Asset-Securities-USA-Inc.']

,First Name,Last Name,Company,Position,Connected On,Company Industry,Company Size
81,Lara,Hernandez,Mirae-Asset-Securities-USA-Inc.,Managing Director,19 Dec 2019,Capital Markets,51-200 employees

In [11]:
len(company_list)

821

In [12]:
driver = webdriver.Chrome(executable_path=binary_path)
actions.login(driver, email, password)

start_time = time.time()

for company in company_list:
    co = str(company).lower().strip()
    co = co.replace(" ", "-")
    for symbol in ["'", ',', '.']:
        co = co.replace(symbol, '')
    company_industry, company_size = get_company_info(co)
    connections_df.loc[connections_df['Company'] == company, 'Company Industry'] = company_industry
    connections_df.loc[connections_df['Company'] == company, 'Company Size'] = company_size
    
end_time = time.time()
runtime = end_time -start_time
runtime # 8018.039364099503
# This took about 2 hours and 23 mins to run
# Only run again on new raw df

8018.039364099503

In [14]:
# Saving the updated dataframe to a new csv
connections_df.to_csv('updated_connections.csv')

In [16]:
updated_connections_df = pd.read_csv('updated_connections.csv')

In [17]:
updated_connections_df

,Unnamed: 0,First Name,Last Name,Company,Position,Connected On,Company Industry,Company Size
0,0,Zhirong (Claudia),Li,Grubhub Seamless,Data Scientist,23 Nov 2020,Internet,"1,001-5,000 employees"
1,1,Lexie,Speirs,Lemonade Inc-,US Talent Acquisition Lead,22 Nov 2020,Insurance,201-500 employees
2,2,Michael,Deakin,Scope Personnel,Chief Executive Officer,03 Nov 2020,Staffing & Recruiting,11-50 employees
3,3,Fiodor,Grecu,Jim Brady's,Sales Customer Service Manager,03 Nov 2020,NaN,NaN
4,4,Matt,Carcione,Northwell Health,Administrative Associate of Perioperative Serv...,16 Oct 2020,Hospital & Health Care,"10,001+ employees"
...,...,...,...,...,...,...,...,...
1180,1180,Christopher,"Lepore, CPA",DRA Advisors LLC,Senior Property Analyst,06 May 2011,NaN,NaN
1181,1181,Ermin,Deljanin,The Parkoff Organization,Controller,06 May 2011,Facilities Services,2-10 employees
1182,1182,Alicia,"Drexel, MA, MT-BC",International Institute for the Brain (iBrain),Music Therapist,04 May 2011,NaN,NaN
1183,1183,Brian,Vodoklys,DTCC,Business Validation Associate,03 May 2011,Financial Services,"1,001-5,000 employees"
1184,1184,Anthony,Apath,US Department of Homeland Security,CBP,02 May 2011,Government Administration,"10,001+ employees"

In [ ]:
# compaines = connections_df.Company.unique() # list of unique compaines

In [ ]:
# company_bar_graph = connections_df.Company.value_counts().sort_values().plot(kind = 'bar')
# plt.show
# # too many to graph nicely

In [ ]:
# Issues

# Actually I am disabled !! I use Oxigen 24/7