In [1]:
import numpy as np
from linkedin_scraper import Company, actions
from selenium import webdriver
from chromedriver_py import binary_path

In [19]:

driver = webdriver.Chrome(executable_path=binary_path)

email = "pinstripepower26@yahoo.com"
password = "Pw_4@t3st"
actions.login(driver, email, password) # if email and password isnt given, it'll prompt in terminal
# company = Company("https://www.linkedin.com/company/lemonade-inc-/", driver = driver, get_employees= False)
company_name = "lemonade-inc-" 
try:
    company = Company(f"https://www.linkedin.com/company/{company_name}/",driver = driver, scrape=False)
    company.scrape(get_employees= False, close_on_complete=True)
except:
    pass

In [20]:
company.industry

'Insurance'

In [21]:
company.company_size

'201-500 employees'

In [ ]:
company_names = ["lemonade-inc-", "afkjbjhbjhbgjs", "barclays-bank"]

In [7]:
email = "pinstripepower26@yahoo.com"
password = "Pw_4@t3st"

In [8]:
def get_company_info(company_name):
    try:
        driver = webdriver.Chrome(executable_path=binary_path)
#         email = "pinstripepower26@yahoo.com"
#         password = "Pw_4@t3st"
        actions.login(driver, email, password)
        company = Company(f"https://www.linkedin.com/company/{company_name}/",driver = driver, scrape=True,
             get_employees= False, close_on_complete=True)
        return company.industry, company.company_size
    except:
        return np.nan, np.nan

In [9]:
for co in company_names:
    print(get_company_info(co))

NameError: name 'company_names' is not defined

In [10]:
x,y = get_company_info("lemonade-inc-")
print(x)
print(y)

nan
nan

In [11]:
get_company_info("apple")

(nan, nan)

In [15]:
# driver = webdriver.Chrome(executable_path=binary_path)
# email = "t3st3r_159@protonmail.ch"
# password = "Xq5nyLxQrH"
# actions.login(driver, email, password)

def get_company_info(company_name):
    try:
#         driver = webdriver.Chrome(executable_path=binary_path)
#         email = "t3st3r_159@protonmail.ch"
#         password = "Xq5nyLxQrH"
#         actions.login(driver, email, password)
        company = Company(f"https://www.linkedin.com/company/{company_name}/",driver = driver, scrape=True,
             get_employees= False, close_on_complete=False)
        return company.industry, company.company_size
    except:
        return np.nan, np.nan

In [16]:
driver = webdriver.Chrome(executable_path=binary_path)
email = "t3st3r_159@protonmail.ch"
password = "Xq5nyLxQrH"
actions.login(driver, email, password)


company_names = ["lemonade-inc-", "barclays-bank"]
for co in company_names:
    print(get_company_info(co))

('Insurance', '201-500 employees')
('Financial Services', '10,001+ employees')

In [18]:
# check updated
import pandas as pd
check = pd.read_csv ('updated_connections.csv')
check

,Unnamed: 0,First Name,Last Name,Company,Position,Connected On,Company Industry,Company Size
0,0,Zhirong (Claudia),Li,Grubhub Seamless,Data Scientist,23 Nov 2020,Internet,"1,001-5,000 employees"
1,1,Lexie,Speirs,Lemonade Inc-,US Talent Acquisition Lead,22 Nov 2020,Insurance,201-500 employees
2,2,Michael,Deakin,Scope Personnel,Chief Executive Officer,03 Nov 2020,Staffing & Recruiting,11-50 employees
3,3,Fiodor,Grecu,Jim Brady's,Sales Customer Service Manager,03 Nov 2020,NaN,NaN
4,4,Matt,Carcione,Northwell Health,Administrative Associate of Perioperative Serv...,16 Oct 2020,Hospital & Health Care,"10,001+ employees"
...,...,...,...,...,...,...,...,...
1180,1180,Christopher,"Lepore, CPA",DRA Advisors LLC,Senior Property Analyst,06 May 2011,NaN,NaN
1181,1181,Ermin,Deljanin,The Parkoff Organization,Controller,06 May 2011,Facilities Services,2-10 employees
1182,1182,Alicia,"Drexel, MA, MT-BC",International Institute for the Brain (iBrain),Music Therapist,04 May 2011,NaN,NaN
1183,1183,Brian,Vodoklys,DTCC,Business Validation Associate,03 May 2011,Financial Services,"1,001-5,000 employees"
1184,1184,Anthony,Apath,US Department of Homeland Security,CBP,02 May 2011,Government Administration,"10,001+ employees"